@model DetailsViewModel

@{
    ViewData["Title"] = "کالا" + @Model.Product.Name;
}

<div class="card mt-3">
    <div class="card-header">
    <h3>@Model.Product.Name</h3>
    </div>
    <div class="card-body">
    <img src="@($"/images/{Model.Product.Id}.jpg")"
         alt="@Model.Product.Name"
         class="img-thumbnail" />
    <p class="py-3 text-justify">@Model.Product.Description</p>
    <p><b>قیمت :</b> @Model.Product.Item.Price</p>
    <dl>
        @foreach (var item in Model.Categories)
        {
            <dt><a>@item.Name</a></dt>
            <dd>@item.Description</dd>
        }
    </dl>
    <div>
        <a class="btn btn-primary"
           asp-controller="Home"
           asp-action="AddToCart"
           asp-route-itemid="@Model.Product.ItemId">افزودن به سبد خرید</a>
    </div>
    </div>
</divcal>